*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:rgb(168, 191, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#pannel{
    overflow: hidden;
    height: 85%;
    width: 85%;
    background-color: #fff;
    border-radius: 10px;
}
#ptop{
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: rgb(38, 75, 89);
    display: flex;
    align-items: center;
    padding: 0px 22%;
    justify-content: space-around;
    
   
}
.elem{
    display: flex;
    gap: 10px;
    align-items: center;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color:rgb(46, 82, 91);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    width: 100%;
    padding: 15px;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.bubble{
    height: 45px;
    width: 45px;
    background-color: rgb(41, 87, 95);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.bubble:hover {
    background-color: rgb(17, 53, 60);
    cursor: pointer;
}
